{% extends 'home-broker/base-dashboard.html.twig' %}

{% block body %}
    <h1>Olá {{ user }}</h1>

    <h2>Saldo: R$ {{ user.balance|number_format(2, ',', '.') }}</h2>

    <table>
        <thead>
        <tr>
            <th>Ação</th>
            <th>Quantidade</th>
            <th>Valor pago</th>
            <th>&nbsp;</th>
        </tr>
        </thead>

        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock }}</td>
                <td>{{ stock.getQuantity }}</td>
                <td>{{ stock.getPaid }}</td>
                <td><button>Vender</button></td>
            </tr>
        {% endfor %}
        <tr></tr>
        </tbody>
    </table>
{% endblock %}